# Android Studio & IntelliJ
*.iml
.idea/
.kotlin/
.gradle/
local.properties

# Build
build/
captures/
.externalNativeBuild/
.cxx/

# System files
.DS_Store

# Logs
*.log

# Screenshots (optional)
# screenshots/ ← אם אתה רוצה שהן ייכנסו לגיטהאב, אל תוסיף את זה
